<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1"/>
    <meta name="renderer" content="webkit">
    <title>淘实惠管理系统</title>
    <link rel="stylesheet" type="text/css" href="../../static/tsh/1.0.0/themes/easyui.css?gversion=1.0.0">
    <link rel="stylesheet" type="text/css" href="../../static/tsh/1.0.0/themes/style.css?gversion=1.0.0">
    <script src="../../static/tsh/1.0.0/jquery.min.js?gversion=1.0.0"></script>
    <script src="../../static/tsh/1.0.0/jquery.easyui.min.js?gversion=1.0.0"></script>
    <script src="../../static/tsh/1.0.0/jquery.easyui.extend.min.js?gversion=1.0.0"></script>
    <script src="../../js/bills/detail.js"></script>
    <style type="text/css">
        .orderInfo{
            font-size:14px;  
        }
        .orderInfo div{
            height: 32px;
            line-height: 32px;
            vertical-align: middle;
            border-bottom: 1px dashed #dee3e6;
        }
        .orderInfo .title{
            display: inline-block;
            width: 120px;
            text-align: right;
        }
        .orderInfo .value{
            display: inline-block;
        }
    </style>
</head>
<body style="margin:0 20px;">
<div id="tb" style="margin-bottom: 10px">
    <div id="tsh-title">
        <h3><span class="t1">结算详情</span></h3>
        <div class="title-border"></div>
    </div>
    <div class="orderInfo">
        <div>
            <label class="title">单据编号：</label>
            <label class="value" id="chargeCode">--</label>
        </div>
        <div>
            <label class="title">单据类型：</label>
            <label class="value" id="businessCodeName">--</label>
        </div>
        <div>
            <label class="title">单据应付金额：</label>
            <label class="value" id="paymentAmount">--</label>
        </div>
        <div>
            <label class="title" >供应商：</label>
            <label class="value" id="supplierName">--</label>
        </div>
        <div>
            <label class="title">销售县域：</label>
            <label class="value" id="saleCountyName">--</label>
        </div>
        <div>
            <label class="title">网点：</label>
            <label class="value" id="shopName">--</label>
        </div>
    </div>
</div>

<!-- 提点 -->
<table id="dataGrid"  class="easyui-datagrid" ></table>
<div style="text-align: center;padding: 10px">
    <a href="javascript:history.go(-1);" class="btn btn-1" id="btnSearch">返回</a>
</div>
</body>
</html>
